/** IMPORTS **/
@import '../vendor/normalize-less/normalize.less';
@import '../vendor/bootstrap/less/bootstrap.less';

/** VARIABLES **/
@color-font: #575757;
@color-main:
@font-size-h1: 36px;
@font-size-h2: 18px;
@font-weight-reg: 400;
@font-weight-bold: 700;

/** MIXINS **/
.font-default() {
  font-family: 'VT323', monospace;
  font-style: normal;
  font-weight: @font-weight-reg;
  color: @color-font;
  text-transform: uppercase;
}

/** Variables **/
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,0.5)) {
  -webkit-box-shadow: @shadow;
          box-shadow: @shadow;
}

body {
  .font-default;

  .row {
    display: flex;
    margin: 20px 0;

    span, label {
      margin: auto;
      font-size: 36px;
    }

    button {
      .box-shadow;
    }

    .icon {
      .box-shadow;

      position: relative;
      height: 50px;
      width: 50px;
      background-color: lightBlue;
      border-radius: 5px;
      display: flex;
      transition: background-color 0.5s;
      color: white;

      &.active {
        background-color: #5F9B53;
      }

      &.icon-plug {
        background-color: orange;

        &.active {
          background-color: #5F9B53;
        }
      }

      i {
        font-size: 28px;
        margin: auto;
      }
    }
  }
}
