<!DOCTYPE html>
<html ng-app="piTalkerApp">
  <head>
    <title></title>
    <base href="/">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- vendor libraries -->
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular-resource/angular-resource.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-animate/angular-animate.js"></script>

    <!-- stylesheets -->
    <link href="vendor/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="build/style.css" />

    <!-- app common -->
    <script src="app/app.js"></script>
  </head>
  <body ng-cloak="true" ng-controller="MainCtrl as main" class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">Actions</div>
          <ul class="list-group" ng-repeat="actionObj in main.actions">
            <li class="list-group-item" style="display: inline-block"
              ng-repeat="action in actionObj.available">
              <button class="btn btn-info btn-md" style="text-transform: uppercase"
                ng-click="main.triggerAction(actionObj.uid, action.uid)"
                ng-init="showPreview=(actionObj.uid === 'camera')">
                {{actionObj.label}} {{action.label}}
              </button>
              <img class="thumbnail animate-if" src="img/no_image.png"
                ng-src="{{action.imgSrc}}"
                width="100%" height="auto" ng-if="showPreview" />
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="panel panel-primary" ng-init="main.startSensorArray(5000)">
          <div class="panel-heading">Sensors</div>
          <table class="table">
            <tr ng-repeat="sensor in main.sensors">
              <th style="white-space: nowrap" width="100">{{sensor.label}}</th>
              <td ng-init="main.triggerSensorReading(sensor)">
                {{sensor.msg.success || sensor.msg.err}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="panel panel-primary">
          <div class="panel-heading">Utilities</div>
          <ul class="list-group">
            <li ng-repeat="util in main.utilities" class="list-group-item">
              <i class="fa
                {{!util.msg.data.status
                  || (util.msg.data.status === 0 && !util.msg.data.err)
                  || util.msg.data.err ?
                    'fa-circle' : 'fa-dot-circle-o'}}
                {{util.msg.data.err ? 'icon-alert' : ''}}"
                aria-hidden="true"
                ng-click="main.changeUtilityStatus(util)"></i>
              <label>{{util.label}}</label>
            </li>
          </ul>
        </div>
        <button class="btn btn-info"
          ng-click="main.changeUtilitiesStatus()"
          style="text-transform: uppercase; font-weight: bold">
          All Utilities
        </button>
      </div>
    </div>
  </body>
</html>
